//
// Debug
// --------------------------------------------------

@if $debug {
	html:before {
		background-color: #FCF8E3;
		border-bottom: 1px solid #FBEED5;
		border-left: 1px solid #FBEED5;
		color: #C09853;
		font: small-caption;
		padding: 3px 6px;
		pointer-events: none;
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 1000000;
		@each $breakpoint, $size in $grid-breakpoints {
			@include media-breakpoint-up($breakpoint) {
				content: "#{$breakpoint} : >= #{$size}";
			}
		}
	}
}
