//
// Lazyload
//

@keyframes fadeIn {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.lazyload,
.lazyloading {
    background-image: url('../images/loader.svg');
    background-position: 50% !important;
    background-size: 80px;
    &.no-loader {
        background-image: none;
    }
}
// Gif fallback when SMIL isn't supported
.no-smil .layload,
.no-smil .layloading {
    background-image: url('../images/loader.gif');
}
img.lazyload {
    .no-js & {
        @extend .d-none;
    }
}
img.lazyloading {
    // opacity: 0;
}
img.lazyloaded {
    background-image: none;
    animation-duration: .7s;
    animation-fill-mode: both;
    will-change: opacity;
    animation-name: fadeIn;
}
img.lazyload.no-loader {
    background-image: none;
}
.lazyload,
.lazyloading,
.lazyloaded {
    background-repeat: no-repeat;
    background-position: center;
    // background-size: auto;
}
.lazyloaded[data-bgset] {
    background-size: cover;
}

.embed-responsive svg {
    @extend .embed-responsive-item;
}
