.timeline {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: $grid-gutter-width;
        top: 2rem;
        bottom: 0;
        width: 2px;
        background: $gray-500;
        @include media-breakpoint-up(md) {
            left: calc(50% - 1px);
        }
    }
}
.timeline__item {
    &::before {
        content: '';
        position: absolute;
        top: 16px;
        width: 16px;
        height: 16px;
        border-radius: 2rem;
        background: theme-color('primary');
        @include media-breakpoint-down(sm) {
            left: $grid-gutter-width - 7px;
        }
    }
    &:nth-child(odd)::before {
        @include media-breakpoint-up(md) {
            left: -8px;
        }
    }
    &:nth-child(even)::before {
        @include media-breakpoint-up(md) {
            right: -8px;
        }
    }
}
