.alignleft {
    float: left;
    margin-right: 1.5rem;
}

.alignright {
    float: right;
    margin-left: 1.5rem;
}

.aligncenter {
    clear: both;
    display: block;
    @extend .mx-auto;
}
.editor {
    img {
        @extend .img-fluid;
    }
    h2 {
        background: url('../images/polygon.svg') no-repeat 0 14px;
        background-size: 26px;
        padding-left: 36px;
    }
    ol, ul {
        list-style: none;
        @extend .mb-3;
    }
    ol {
        padding-left: $spacer * 2.5;
    }
    ul {
        padding-left: $spacer * 2;
    }
    ul li,
    ol li {
        margin: $spacer / 2 0;
        position: relative;
    }
    ol li::before {
        display: block;
        position: absolute;
        left: calc(-#{$spacer * 2.5});
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        font-weight: bold;
        font-size: .875rem;
    }
    ul li::before {
        display: block;
        position: absolute;
        top: -.25em;
        left: calc(-#{$spacer * 2});
        color: theme-color('primary');
        font-size: 1.5rem;
        font-weight: bold;
    }
    ul li::before {
        content: "\0203a";
    }
    ol {
        counter-reset: ordered-counter;
        list-style: none;
    }
    ol li::before {
        counter-increment: ordered-counter;
        color: $white;
        background: theme-color('primary');
        border-radius: 50%;
    }
    ol li::before {
        content: counter(ordered-counter);
    }
    &.text-white ul li::before,
    .text-white & ul li::before {
        color: $white;
    }
    hr {
        border-top: 1px solid theme-color('primary');
        width: 80%;
        @extend .mx-auto;
        @extend .my-4;
        @extend .my-md-6;
    }
    table {
        @extend .table;
    }
    p:last-child,
    ul:last-child {
        margin-bottom: 0;
    }
}
.img-caption__content,
.wp-caption,
.gallery-caption {
    color: $gray-700;
    font-style: italic;
    font-size: $font-size-sm;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    @extend .d-block;
    @extend .mx-auto;
}

.wp-caption .wp-caption-text {
    @extend .p-1;
}
