
.job-item {
    position: relative;
    border-bottom: solid 1px theme-color('blue');
}
.job-item__title {
    padding-left: 36px;
}
.job-item__title a {
    color: $body-color;
    &:hover {
        color: theme-color('primary');
    }
}
.job-item__icon {
    position: absolute;
    left: 0;
    top: 12px;
}
