<footer class="footer text-center bg-white p-3">
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-center text-14">
            {% set social_links = ['linkedin', 'viadeo']|array_filter(i => attribute(options, i ~ '_url') is not empty) %}
            {% if social_links is not empty %}
            <div class="d-flex align-items-center justify-content-center mb-2 mb-sm-0">
                {% for item in social_links %}
                <a href="{{ attribute(options, item ~ '_url')|e('esc_url') }}" target="_blank" rel="noopener" class="mx-2">
                    <svg class="d-block size-24 fill-current text-dark">
                        <use xlink:href="#icon-{{ item }}"></use>
                    </svg>
                </a>
                {% endfor %}
            </div>
            {% endif %}
            &copy; {{ site.name }} {{ 'now'|date('Y') }}
            {% for item in nav_footer.items %}
            <a href="{{ item.link|e('esc_url') }}" class="mx-1" {{ item.target == '_blank' ? 'target="_blank" rel="noopener"' }}>
                {{ item.title }}
            </a>
            {% endfor %}
        </div>
    </div>
</footer>
