<header class="header bg-white d-flex">

    <div class="container-fluid d-flex px-3">

        {# LOGO #}
        <a href="{{ site.home_url|e('esc_url') }}" class="header-logo d-flex align-items-center">
            <span class="logo d-block">
                {{ asset_include('images/logo.svg', 'path') }}
            </span>
        </a>

        {# NAV #}
        <nav class="nav d-flex ml-auto">

            <button class="hamburger hamburger--arrow-right nav-burger ml-auto d-lg-none js-nav-burger" type="button">
                <div class="inner">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </button>

            <ul class="nav-menu bg-purple bg-lg-transparent d-lg-flex list-unstyled mb-0 text-uppercase tracking-wider leading-tight font-weight-bold text-right text-lg-center z-2 pt-4 pt-lg-0">
                {% for item in nav_header.items %}
                <li class="nav-menu__item d-lg-flex justify-content-lg-center {{ item.classes|join(' ') }}">
                    <a href="{{ item.link }}" class="nav-menu__link d-block d-lg-flex align-items-lg-center p-3 py-lg-0 text-20 text-lg-12">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>

            <div class="nav__overlay d-lg-none position-fixed bottom-0 left-0 w-100 z-1 js-nav-overlay"></div>

        </nav>

    </div>

</header>
