{% extends 'base.html.twig' %}

{% block content %}

{% embed 'components/cover.html.twig' %}
{% set title = title %}
{% set img = job_cover %}
{% endembed %}

<div class="container-fluid">
    {% if job_content %}
    <div class="mb-2 mb-md-4">
        {{ job_content }}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-3">
            <h3 class="h4 mb-2">Villes</h3>
            <ul class="list-unstyled text-16">
                <li>
                    <a href="{{ jobs_url }}" class="{{ is_tax ? 'text-dark' : 'text-primary' }}">Toutes</a>
                </li>
                {% for item in filters|array_filter(t => t.taxonomy == 'city') %}
                <li>
                    <a href="{{ item.link }}" class="{{ term.id == item.id ? 'text-primary' : 'text-dark' }}">{{ item.name }} ({{ item.count }})</a>
                </li>
                {% endfor %}
            </ul>
            <h3 class="h4 mb-2">Technos</h3>
            <ul class="list-unstyled text-16">
                <li>
                    <a href="{{ jobs_url }}">Toutes</a>
                </li>
                {% for item in filters|array_filter(t => t.taxonomy == 'skill') %}
                <li>
                    <a href="{{ item.link }}" class="{{ term.id == item.id ? 'text-primary' : 'text-dark' }}">{{ item.name }} ({{ item.count }})</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            {% for item in posts %}
            <div class="job-item position-relative pb-3 mb-3">
                <div class="job-item__icon size-24">
                    {{ asset_include('images/polygon.svg', 'path') }}
                </div>
                <h2 class="job-item__title h2 mb-2">
                    {% set title_parts = [
                        item.title,
                        item.terms('city')|join(' ')
                    ] %}
                    <a href="{{ item.link }}" class="stretched-link">{{ title_parts|join(' - ') }}</a>
                </h2>
                <div class="text-14">Publiée le {{ item.date|date('d F Y à H:i') }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
