{% htmlcompress %}
<!DOCTYPE html>
<html {{ site.language_attributes }} class="no-js">
    <head>
        <meta charset="{{ site.charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" href="/icon.png">
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Oswald&display=swap" rel="stylesheet">
        {{ function('wp_head') }}
        {% block head_styles '' %}
        <script>{{ asset_include('js/modernizr.js', 'path') }}</script>
        {% block head_scripts '' %}
    </head>
    <body class="d-md-flex flex-md-column">
        {# SVG SPRITE #}
        <div style="display:none;">{{ asset_include('images/sprite.svg', 'path') }}</div>

        {# HEADER #}
        {{ include('_header.html.twig') }}

        {# CONTENT #}
        <main class="content {% block content_classes '' %}">
            {% block content %}{% endblock %}
        </main>

        {# FOOTER #}
        {{ include('_footer.html.twig') }}

        {% block body_end '' %}

        {% block javascripts %}
            {{ function('wp_footer') }}
        {% endblock %}

        {% if options.google_analytics_id is not empty %}
        {{ include('components/cookie-banner.html.twig') }}
        {% endif %}

        {% if env in ['development', 'staging'] and request.get.debug is defined %}
        {{ include('components/debug.html.twig') }}
        {% endif %}

    </body>
</html>
{% endhtmlcompress %}
