{% extends 'singular.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="container-fluid">
        <div class="editor">
            <h2>Nous contacter</h2>
        </div>
        {% if form.isSubmitted %}
            {% if form.isValid %}
            <div class="alert alert-success">
                Merci pour votre message !
            </div>
            {% else %}
            <div class="alert alert-danger">
                {% if form.errors %}
                    {{ form.errors|join('<br />') }}
                {% endif %}
                {% set hidden_input_errors = form.form_inputs|array_filter(i => not i.isValid() and i.type == 'hidden') %}
                {% if hidden_input_errors %}
                {% for input in hidden_input_errors %}
                    {{ not loop.first ? '<br />' }}{{ input.getError() }}
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
        {{ form.form_start() }}
        <div class="row form-group">
            <div class="col-md-6">
                {{ form.form_label('lastname') }}
                {{ form.form_input('lastname').setAttribute('class', 'form-control') }}
                <div class="invalid-feedback">
                    {{ form.form_error('lastname') }}
                </div>
            </div>
            <div class="col-md-6">
                {{ form.form_label('firstname') }}
                {{ form.form_input('firstname').setAttribute('class', 'form-control') }}
                <div class="invalid-feedback">
                    {{ form.form_error('firstname') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.form_label('email') }}
            {{ form.form_input('email').setAttribute('class', 'form-control') }}
            <div class="invalid-feedback">
                {{ form.form_error('email') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.form_label('object') }}
            {{ form.form_input('object').setAttribute('class', 'form-control') }}
            <div class="invalid-feedback">
                {{ form.form_error('object') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.form_label('message') }}
            {{ form.form_input('message').setAttributes({
                'class': 'form-control',
                'rows': 8
            }) }}
            <div class="invalid-feedback">
                {{ form.form_error('message') }}
            </div>
        </div>
        {{ form.form_input('nonce') }}
        {{ form.form_input('recaptcha_response') }}
        <div class="text-center">
            <div class="text-muted mb-4 max-w-5 mx-auto text-14">En soumettant votre demande, vous acceptez notre <a href="{{ options.privacy_policy_url }}" target="_blank" rel="noopener">politique de confidentialité</a> détaillant le traitement de vos données personnelles.</div>
            <button type="submit" class="btn btn-teal" name="submit">Envoyer</button>
        </div>
        {{ form.form_end() }}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% if options.recaptcha_site_key %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ options.recaptcha_site_key }}"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('{{ options.recaptcha_site_key }}', { action: 'contact' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptcha_response');
                if(token && recaptchaResponse) {
                    recaptchaResponse.value = token;
                }
            });
        });
    </script>
    {% endif %}
{% endblock %}
