{% extends 'base.html.twig' %}

{% block content_classes 'd-flex align-items-center position-relative' %}

{% block content %}

{% if post.home_background_image %}
    {% set img = post.meta('home_background_image') %}
    <picture>
        {% set img_args = {
            crop: {
                width: 580,
                height: 1025
            },
            srcset: {
                min: 320,
                max: 1160
            },
            format: 'jpg',
            optimize: true
        } %}
        {% set img_args_md = {
            width: 1600,
            srcset: {
                min: 768,
                max: 3200
            },
            format: 'jpg',
            optimize: true
        } %}
        {% if support.webp %}
        <source
            data-srcset="{{ img|manipulate(img_args|merge({format: 'webp'})) }}"
            sizes="100vw"
            type="image/webp"
            media="(max-width: 575.98px)"
        >
        <source
            data-srcset="{{ img|manipulate(img_args_md|merge({format: 'webp'})) }}"
            sizes="100vw"
            media="(min-width: 576px)"
            type="image/webp"
        >
        {% endif %}
        <source
            data-srcset="{{ img|manipulate(img_args_md) }}"
            sizes="100vw"
            media="(max-width: 575.98px)"
        >
        <source
            data-srcset="{{ img|manipulate(img_args_md) }}"
            sizes="100vw"
            media="(min-width: 576px)"
        >
        <img
            src="{{ img|manipulate({
                width: 100,
                blur: 4,
                optimize: true,
                datauri: true
            }) }}"
            class="d-block position-absolute inset-0 w-100 h-100 object-cover lazyload no-loader"
            alt=""
        />
    </picture>
{% endif %}

{% if post.thumbnail and post.home_image_mobile %}
{% set img = post.meta('home_image_mobile') %}
{% set img_md = post.thumbnail %}
<div class="container-fluid py-5">
    <div class="max-w-9 mx-auto">
        <picture>
            {% set img_args = {
                width: 576,
                srcset: {
                    min: 300,
                    max: 1160
                },
                optimize: true
            } %}
            {% set img_args_md = {
                width: 800,
                srcset: {
                    min: 600,
                    max: 1600
                },
                optimize: true
            } %}
            {% if support.webp %}
            <source
                data-srcset="{{ img|manipulate(img_args|merge({format: 'webp'})) }}"
                data-sizes="auto"
                media="(max-width: 767.98px)"
                type="image/webp"
            >
            <source
                data-srcset="{{ img_md|manipulate(img_args_md|merge({format: 'webp'})) }}"
                data-sizes="auto"
                media="(min-width: 768px)"
                type="image/webp"
            >
            {% endif %}
            <source
                data-srcset="{{ img|manipulate(img_args) }}"
                data-sizes="auto"
                media="(max-width: 767.98px)"
            >
            <source
                data-srcset="{{ img_md|manipulate(img_args) }}"
                data-sizes="auto"
                media="(min-width: 768px)"
            >
            <img
                src="{{ img_placeholder(img_md.width, img_md.height) }}"
                class="home__img d-block w-100 lazyload mx-auto"
                alt="{{ img_md.alt|default(site.name) }}"
            />
        </picture>
    </div>
</div>
{% endif %}

{% endblock %}
