{% extends 'base.html.twig' %}

{% block content %}

<article>
    {{ include('components/cover.html.twig', {
        title: post.title,
        cover_classes: 'bg-teal'
    }) }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mb-5 mb-md-0">
                <div class="pb-5 mb-5 border-bottom">
                    {% set title = [
                        post.hiringOrganization,
                        post.terms('city')|join(' / '),
                        post.meta('employmentType')|default([])|column('label')|join(' / ')
                    ] %}
                    {% set title = title|array_filter(t => t is not empty) %}
                    {% if title %}
                    <div class="font-weight-bold">{{ title|join(' - ') }}</div>
                    {% endif %}
                    <div class="text-14">Publiée le {{ post.date }}</div>
                </div>
                <h2 class="h2">Description du poste</h2>
                <div class="editor">
                    {{ post.content }}
                </div>
                {% if post.qualifications %}
                <h2 class="h2">Profil</h2>
                <div class="editor">
                    {{ post.qualifications }}
                </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="bg-light py-4 px-5">
                    {% set items = [
                        {
                            label: 'Intitulé de poste',
                            value: post.title
                        },
                        {
                            label: 'Entreprise',
                            value: post.hiringOrganization
                        },
                        {
                            label: 'Type de contrat',
                            value: post.meta('employmentType')|default([])|column('label')|join(' / ')
                        },
                        {
                            label: 'Niveau d’études',
                            value: post.educationRequirements,
                        },
                        {
                            label: 'Compétences',
                            value: post.terms('skill')|join(' / '),
                        },
                        {
                            label: 'Référence',
                            value: post.identifier
                        },
                    ] %}

                    {% for item in items|array_filter(v => v.value is not empty) %}
                    <h3 class="h5 text-teal mb-1">{{ item.label }}</h3>
                    <div class="text-16 font-weight-normal {{ not loop.last ? 'mb-3' }}">{{ item.value }}</div>
                    {% endfor %}

                </div>
                <a href="#apply" class="btn btn-teal btn-block" data-scroll>Postuler</a>
            </div>
        </div>
    </div>

</article>

<div class="bg-light py-7 mt-7" id="apply">
    <div class="container-fluid">
        <div class="max-w-10 mx-auto">
            <h3 class="text-center text-teal">Postuler au poste de {{ post.title }}</h3>
            {% if form.isSubmitted %}
                {% if form.isValid %}
                <div class="alert alert-success">
                    Merci pour votre candidature !
                </div>
                {% else %}
                <div class="alert alert-danger">
                    {% if form.errors %}
                        {{ form.errors|join('<br />') }}
                    {% endif %}
                    {% set hidden_input_errors = form.form_inputs|array_filter(i => not i.isValid() and i.type == 'hidden') %}
                    {% if hidden_input_errors %}
                    {% for input in hidden_input_errors %}
                        {{ not loop.first ? '<br />' }}{{ input.getError() }}
                    {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
            {% endif %}

            {{ form.form_start() }}
            <div class="row form-group">
                <div class="col-md-6">
                    {{ form.form_label('lastname') }}
                    {{ form.form_input('lastname').setAttribute('class', 'form-control') }}
                    <div class="invalid-feedback">
                        {{ form.form_error('lastname') }}
                    </div>
                </div>
                <div class="col-md-6">
                    {{ form.form_label('firstname') }}
                    {{ form.form_input('firstname').setAttribute('class', 'form-control') }}
                    <div class="invalid-feedback">
                        {{ form.form_error('firstname') }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.form_label('email') }}
                {{ form.form_input('email').setAttribute('class', 'form-control') }}
                <div class="invalid-feedback">
                    {{ form.form_error('email') }}
                </div>
            </div>
            {% if post.terms('city')|length > 1 %}
            <div class="form-group mb-4">
                {{ form.form_label('city') }}
                {{ form.form_input('city').setAttribute('class', 'custom-select') }}
                <div class="invalid-feedback">
                    {{ form.form_error('city') }}
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <div class="custom-file">
                    {{ form.form_input('cv').setAttributes({
                        'class': 'custom-file-input',
                        'lang': 'fr'
                    }) }}
                    {{ form.form_label('cv') }}
                    <div class="invalid-feedback">
                        {{ form.form_error('cv') }}
                    </div>
                    <small class="form-text text-muted">Formats acceptés : pdf,doc,docx,rtf,odt - Poids maximum : 1mo</small>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    {{ form.form_input('cover_letter').setAttributes({
                        'class': 'custom-file-input',
                        'lang': 'fr'
                    }) }}
                    {{ form.form_label('cover_letter') }}
                    <div class="invalid-feedback">
                        {{ form.form_error('cover_letter') }}
                    </div>
                    <small class="form-text text-muted">Optionnel - Formats acceptés : pdf,doc,docx,rtf,odt - Poids maximum : 1mo</small>
                </div>
            </div>
            {{ form.form_input('offer_id') }}
            {{ form.form_input('nonce') }}
            {{ form.form_input('recaptcha_response') }}
            <div class="text-center">
                <div class="text-muted mb-4 max-w-5 mx-auto text-14">En soumettant votre candidature, vous acceptez notre <a href="{{ options.privacy_policy_url }}" target="_blank" rel="noopener">politique de confidentialité</a> détaillant le traitement de vos données personnelles.</div>
                <button type="submit" class="btn btn-teal" name="submit">Postuler</button>
            </div>
            {{ form.form_end() }}
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% if options.recaptcha_site_key %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ options.recaptcha_site_key }}"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('{{ options.recaptcha_site_key }}', { action: 'apply' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptcha_response');
                if(token && recaptchaResponse) {
                    recaptchaResponse.value = token;
                }
            });
        });
    </script>
    {% endif %}
{% endblock %}
