{% extends 'base.html.twig' %}

{% block content %}

<article>
    {% embed 'components/cover.html.twig' %}
        {% set title = post.title %}
        {% set img = post.thumbnail %}
    {% endembed %}

    {% if post.content is not empty %}
    <div class="container-fluid editor">
        {{ post.content }}
    </div>
    {% endif %}

    {{ include('components/blocks.html.twig') }}
</article>

{% endblock %}
