{% if block.items is not empty %}
<div class="container-fluid">
    <div class="row justify-content-center">
        {% for item in block.items %}
        <div class="col-md-4">
            {% if item.image %}
            <img
                src="{{ item.image|manipulate({
                    crop: {
                        width: 90,
                        height: 90
                    }
                }) }}"
                class="d-block mx-auto mb-4"
                alt="{{ item.image.alt|default(item.title)|e('html_attr') }}"
            />
            {% endif %}
            {% if item.title %}
            <h2 class="text-center mb-4">{{ item.title }}</h2>
            {% endif %}
            {% if item.content is not empty %}
            <div class="editor">
                {{ item.content }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
