{% if block.images %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        {% for image in block.images %}
        <div class="col-auto">
            <picture>
                <img
                    src="{{ image|manipulate({
                        height: 100
                    }) }}"
                    class="img-fluid d-block"
                />
            </picture>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
