{% if block.images %}
<div class="bg-{{ post.primary_color }} py-5">
    <div class="container-fluid">
        <div class="row">
            {% for image in block.images %}
            <div class="col">
                <img
                    src="{{ image.src }}"
                    class="img-fluid d-block"
                />
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

