<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 {{ block.content_position == 'right' ? 'order-md-last' }}">
            <div class="editor">{{ block.content }}</div>
        </div>
        <div class="col-md-5">
            <div class="editor text-white p-5 bg-{{ post.primary_color }}">{{ block.content_box }}</div>
        </div>
    </div>
</div>
