<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="editor">{{ block.content_left }}</div>
        </div>
        <div class="col-md-6">
            <div class="editor">{{ block.content_right }}</div>
        </div>
    </div>
</div>
