<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-5 mb-md-0 {{ block.content_position == 'left' ? 'order-md-last' }}">
            {% set img = block.image %}
            {% set img_args = {
                width: 470,
                srcset: {
                    min: 300,
                    max: 1000
                },
                optimize: true
            } %}
            <picture>
                {% if support.webp %}
                <source
                    data-srcset="{{ img|manipulate(img_args|merge({format: 'webp'})) }}"
                    data-sizes="auto"
                    type="image/webp"
                >
                {% endif %}
                <img
                    src="{{ img|manipulate({
                        width: 50,
                        quality: 30,
                        blur: 4,
                        optimize: true,
                        datauri: true
                    }) }}"
                    data-srcset="{{ img|manipulate(img_args) }}"
                    data-sizes="auto"
                    class="img-fluid d-block lazyload w-100"
                    alt="{{ img.alt|default(block.title)|e('html_attr') }}"
                />
            </picture>
        </div>
        <div class="col-12 col-md-6 editor">
            <h2 class="h2">{{ block.title }}</h2>
            <div class="">{{ block.content }}</div>
        </div>
    </div>
</div>
