{% if block.items %}
<div class="bg-light py-5 py-md-8">
    <div class="container-fluid">
        <div class="max-w-10 mx-auto">
            <div class="row timeline">
                {% for item in block.items %}
                <div class="timeline__item col-md-6 pl-7 {{ not loop.last ? 'mb-3 mb-md-5' }} {{ cycle(['text-md-right pr-md-5 text-teal', 'offset-md-6 pl-md-5 text-blue'], loop.index) }}">
                    <h2 class="mb-2">{{ item.title }}</h2>
                    <div class="editor text-16 font-weight-normal">{{ item.content }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
