$debug: false !default;

@import '~sass-easing/easings';
@import '~sass-extras/index';

@import '~bootstrap4/scss/functions';
@import '~bootstrap4/scss/variables';
@import '~bootstrap4/scss/mixins';

@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'abstracts/bootstrap';

@import 'base/global';

// @import '~bootstrap4/scss/root';
@import '~bootstrap4/scss/reboot';
@import '~bootstrap4/scss/type';
@import '~bootstrap4/scss/images';
// @import '~bootstrap4/scss/code';
// @import '~bootstrap4/scss/grid';
@import '~bootstrap4/scss/tables';
// @import '~bootstrap4/scss/forms';
// @import '~bootstrap4/scss/buttons';
// @import '~bootstrap4/scss/transitions';
// @import '~bootstrap4/scss/dropdown';
// @import '~bootstrap4/scss/button-group';
// @import '~bootstrap4/scss/input-group';
// @import '~bootstrap4/scss/custom-forms';
// @import '~bootstrap4/scss/nav';
// @import '~bootstrap4/scss/navbar';
// @import '~bootstrap4/scss/card';
// @import '~bootstrap4/scss/breadcrumb';
// @import '~bootstrap4/scss/pagination';
// @import '~bootstrap4/scss/badge';
// @import '~bootstrap4/scss/jumbotron';
// @import '~bootstrap4/scss/alert';
// @import '~bootstrap4/scss/progress';
// @import '~bootstrap4/scss/media';
// @import '~bootstrap4/scss/list-group';
// @import '~bootstrap4/scss/close';
// @import '~bootstrap4/scss/toasts';
// @import '~bootstrap4/scss/modal';
// @import '~bootstrap4/scss/tooltip';
// @import '~bootstrap4/scss/popover';
// @import '~bootstrap4/scss/carousel';
// @import '~bootstrap4/scss/spinners';
// @import '~bootstrap4/scss/utilities/align';
// @import '~bootstrap4/scss/utilities/background';
// @import '~bootstrap4/scss/utilities/borders';
// @import '~bootstrap4/scss/utilities/clearfix';
@import '~bootstrap4/scss/utilities/display';
// @import '~bootstrap4/scss/utilities/embed';
// @import '~bootstrap4/scss/utilities/flex';
// @import '~bootstrap4/scss/utilities/float';
// @import '~bootstrap4/scss/utilities/overflow';
// @import '~bootstrap4/scss/utilities/position';
// @import '~bootstrap4/scss/utilities/screenreaders';
// @import '~bootstrap4/scss/utilities/shadows';
// @import '~bootstrap4/scss/utilities/sizing';
// @import '~bootstrap4/scss/utilities/stretched-link';
@import '~bootstrap4/scss/utilities/spacing';
// @import '~bootstrap4/scss/utilities/text';
// @import '~bootstrap4/scss/utilities/visibility';
// @import '~~bootstrap4/scss/print';

// @import 'components/debug';
// @import 'components/images';

// @import 'utilities/position';
// @import 'utilities/sizes';
// @import 'utilities/flex';
// @import 'utilities/borders';
// @import 'utilities/svg';
// @import 'utilities/transform';
@import 'utilities/text';
// @import 'utilities/max-width';
// @import 'utilities/shadows';
// @import 'utilities/background';
// @import 'utilities/overflow';
// @import 'utilities/pointer-events';
// @import 'utilities/object-fit';
// @import 'utilities/cursor';

@import 'modules/editor';

body.mce-content-body {
    background: $white;
    padding: $spacer !important;
    @extend .editor;
}
