
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
::selection {
	color: #fff;
    background: theme-color('primary');
    text-shadow: none;
}
a {
    transition: color .3s $easeOutQuad;
}
blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
