{% extends 'emails/base.html.twig' %}

{% block content %}
<p>Nom : {{ data.lastname|e }}</p>
<p>Prénom : {{ data.firstname|e }}</p>
<p>Email : {{ data.email|e }}</p>
{% if data.city %}
<p>Ville : {{ data.city|e }}</p>
{% endif %}
<p>Date de réception : {{ data.sent_date|date('d/m/Y à H:i') }}</p>
<p>Référence de l’annonce : {{ data.offer.identifier }}</p>
<p>
    <a href="{{ data.offer.link }}" target="_blank" rel="noopener">Voir l'annonce</a>
</p>
{% endblock %}
