{% extends 'emails/base.html.twig' %}

{% block content %}
<p>Nom : {{ data.lastname|e }}</p>
<p>Prénom : {{ data.firstname|e }}</p>
<p>Email : {{ data.email|e }}</p>
<p>Objet : {{ data.object|e }}</p>
<p>Message : {{ data.message|e }}</p>
<p>Date de réception : {{ data.sent_date|date('d/m/Y à H:i') }}</p>
{% endblock %}
