//
// Header
// --------------------------------------------------

$header-height: 50px;
$header-height-md: 70px;
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $zindex-fixed;
    height: $header-height;
    @include media-breakpoint-up(md) {
        height: $header-height-md;
    }
}
.header-logo {
    width: 165px;
}
.logo {
    overflow: hidden;
    position: relative;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: percentage(42.7 / 165.1);
    svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
