//
// Layout
// --------------------------------------------------


body {
    min-height: 100vh;
    // @include media-breakpoint-up(md) {
    //     overflow-x: hidden;
    // }
}

.container-fluid {
    max-width: 1240px;
    @include media-breakpoint-up(sm) {
        padding-left: $grid-gutter-width * 2;
        padding-right: $grid-gutter-width * 2;
    }
}
.content {
    max-width: 100%;
    flex: 1 0 auto;
    margin-top: $header-height;
    @include media-breakpoint-up(md) {
        margin-top: $header-height-md;
    }
}
