//
// Nav
// --------------------------------------------------

$hamburger-size: $header-height;
$hamburger-color: $body-color;
$hamburger-animations: (
    arrow-r,
);
@import '~delicious-hamburgers/scss/hamburgers';

.nav-burger {
    height: $header-height !important;
    @include media-breakpoint-up(md) {
        height: $header-height-md !important;
    }
}
// $burger-height: 3px;
// $burger-gutter: 2px;
// .nav-burger__icon {
//     display: block;
//     position: relative;
//     width: 31px;
//     outline: 1px solid transparent;
//     user-select: none;
//     margin-top: $burger-height + $burger-gutter;
//     margin-bottom: $burger-height + $burger-gutter;
//     &::before,
//     &::after {
//         content: '';
//         width: 31px;
//         height: $burger-height;
//         background: theme-color('primary');
//         position: absolute;
//         border-radius: 2px;
//         left: 0;
//         transition-property: background-color, transform;
//         transition-duration: .2s;
//     }
//     // .nav-burger.is-active &::before,
//     // .nav-burger.is-active &::after {
//     //     background: $white;
//     // }
//     &::before {
//         top: -($burger-height + $burger-gutter);
//     }
//     .nav-burger.is-active &::before {
//         transform: translate3d(0, $burger-gutter + $burger-height, 0) rotate3d(0, 0, 1, 45deg);
//     }
//     &::after {
//         top: $burger-height + $burger-gutter;
//     }
//     .nav-burger.is-active &::after {
//         transform: translate3d(0, -($burger-gutter + $burger-height), 0) rotate3d(0, 0, 1, -45deg);
//     }
// }

.nav__overlay {
    background: $modal-backdrop-bg;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear .6s, opacity .6s $easeOutQuart;
    will-change: visibility, opacity;
    top: $header-height;
    @include media-breakpoint-up(md) {
        top: $header-height-md;
    }
    .nav--open & {
        opacity: $modal-backdrop-opacity;
        visibility: visible;
        transition-delay: 0s;
    }
}

.nav-menu {
    @include media-breakpoint-down(md) {
        overflow-y: auto;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transform: translate3d(100%, 0, 0);
        transition: transform .4s $easeOutQuad, opacity .4s $easeOutQuad;
    }
    @include media-breakpoint-down(sm) {
        top: $header-height;
    }
    @include media-breakpoint-only(md) {
        top: $header-height-md;
    }
    @include media-breakpoint-between(sm, md) {
        left: auto;
        width: 400px;
    }
    .nav--open & {
        @include media-breakpoint-down(md) {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}

.nav-menu__link {
    color: $white;
    @include media-breakpoint-up(lg) {
        color: $body-color;
        position: relative;
    }
    .nav-menu__item.current-menu-item & {
        @extend .text-lg-white;
        @extend .bg-lg-primary;
    }
    &:hover {
        color: theme-color('primary');
    }
    &::before {
        @include media-breakpoint-up(lg) {
            content: '';
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: theme-color('primary');
            display: block;
            transform: scale3d(0, 1, 1);
            transition: transform .6s $easeOutQuart;
        }
    }
    &:hover::before {
        @include media-breakpoint-up(lg) {
            transform: scale3d(1, 1, 1);
        }
    }
}

.nav--open body {
    @include media-breakpoint-down(md) {
        overflow: hidden;
    }
}
