@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        @each $color, $value in $theme-colors {
            .bg#{$infix}-#{$color} {
                background-color: $value !important;
            }
        }
        .bg#{$infix}-transparent {
            background-color: transparent !important;
        }
        .bg#{$infix}-image-none {
            background-image: none !important;
        }
    }
}
.bg-auto {
    background-size: auto !important;
}
.bg-cover {
    background-size: cover !important;
}
.bg-loader {
    @extend .lazyloading !optional;
}
