
.inset-0 {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
@each $position in ('top', 'bottom', 'right', 'left') {
    .#{$position}-0 {
        #{$position}: 0;
    }
    .#{$position}-50 {
        #{$position}: 50%;
    }
}

@for $i from 1 through 6 {
    .z-#{$i} {
        z-index: $i;
    }
}
