// stylelint-disable declaration-no-important

//
// Text
//

.text-monospace { font-family: $font-family-monospace !important; }

// Alignment

.text-justify  { text-align: justify !important; }
.text-wrap     { white-space: normal !important; }
.text-nowrap   { white-space: nowrap !important; }
.text-truncate { @include text-truncate; }

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-left   { text-align: left !important; }
    .text#{$infix}-right  { text-align: right !important; }
    .text#{$infix}-center { text-align: center !important; }
  }
}

// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Weight and italics

.font-weight-light   { font-weight: $font-weight-light !important; }
.font-weight-lighter { font-weight: $font-weight-lighter !important; }
.font-weight-normal  { font-weight: $font-weight-normal !important; }
.font-weight-bold    { font-weight: $font-weight-bold !important; }
.font-weight-bolder  { font-weight: $font-weight-bolder !important; }
.font-italic         { font-style: italic !important; }

// Contextual colors

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      .text#{$infix}-white { color: $white !important; }
      .text#{$infix}-body { color: $body-color !important; }
      .text#{$infix}-muted { color: $text-muted !important; }
      @each $color, $value in $theme-colors {
        @include text-emphasis-variant(".text#{$infix}-#{$color}", $value);
      }
    }
  }

.text-black-50 { color: rgba($black, .5) !important; }
.text-white-50 { color: rgba($white, .5) !important; }

// Misc

.text-hide {
  @include text-hide($ignore-warning: true);
}

.text-decoration-none { text-decoration: none !important; }
.text-decoration-underline { text-decoration: underline !important; }

.text-break {
  word-break: break-word !important; // IE & < Edge 18
  overflow-wrap: break-word !important;
}

// Reset

.text-reset { color: inherit !important; }

// Leading

$leadings: (
    'none': 1,
    'tight': 1.2,
    'regular': 1.5,
    'normal': $line-height-base,
    'loose': 2,
);

@each $leading-name, $leading-value in $leadings {
    .leading-#{$leading-name} {
        line-height: $leading-value;
    }
}

// Tracking

$trackings: (
    tighter: '-.06em',
    tight: '-.03em',
    normal: '0',
    wide: '.03em',
    wider: '.06em',
);
@each $tracking-name, $tracking-value in $trackings {
    .tracking-#{$tracking-name} {
        letter-spacing: unquote($tracking-value);
    }
}

// Font sizes

$font-sizes: (12, 13, 14, 15, 16, 18, 20, 22, 24, 26, 28, 30);

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        @each $font-size in $font-sizes {
            .text#{$infix}-#{$font-size} {
                font-size: rem-calc($font-size);
            }
        }
    }
}
