{% set blocks = post.meta('blocks') %}
{% for block in blocks %}
{% set layout = block.acf_fc_layout|replace({'_': '-'}) %}
<section class="my-6 my-md-9">
    {{ include('blocks/%s.html.twig'|format(layout), ignore_missing = true) }}
</section>
{% endfor %}
