<nav aria-label="breadcrumb" class="breadcrumb">
    <ol class="list-unstyled mb-0 text-12 text-md-14 d-flex">
        {%- for item in breadcrumbs -%}
        <li class="{{ not loop.last ? 'whitespace-no-wrap' }}">
            {%- if item.link is not empty -%}
            <a href="{{ item.link }}" class="breadcrumb__item text-body">{{ item.title }}</a>
            {%- else -%}
            <span class="breadcrumb__item text-primary">{{ item.title }}</span>
            {%- endif -%}
            {%- if not loop.last -%}
                <span class="mx-1 breadcrumb__separator">›</span>
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ol>
</nav>
