<div id="cookies-eu-banner" class="position-fixed bottom-0 left-0 right-0 bg-dark text-white" style="display: none;">
    <div class="container-fluid text-center p-3">
        <div class="mb-3 text-16">
            En poursuivant votre navigation sur ce site, vous acceptez notre <a href="{{ options.privacy_policy_url }}" id="cookies-eu-more" target="_blank" rel="noopener" class="text-white text-decoration-underline">politique de confidentialité</a> et l'utilisation de cookies afin de réaliser des statistiques d'audience.
        </div>
        <div class="d-flex justify-content-center">
            <button id="cookies-eu-reject" class="btn btn-secondary mx-1">Refuser</button>
            <button id="cookies-eu-accept" class="btn btn-primary mx-1">Accepter</button>
        </div>
    </div>
</div>
