<header class="cover position-relative {{ cover_classes|default('bg-primary') }}">
    <figure class="mb-0">
        {% if img|default() %}
        <picture>
            {# XS #}
            {% set args_xs = {
                crop: {
                    width: 420,
                    height: 230
                },
                srcset: {
                    min: 320,
                    max: 840
                },
                optimize: true
            } %}
            {# >= SM #}
            {% set args_md = {
                crop: {
                    width: 1600,
                    height: 500
                },
                srcset: {
                    min: 576,
                    max: 3200
                },
                optimize: true
            } %}
            {% if support.webp %}
            <source
                data-srcset="{{ img|manipulate(args_xs|merge({format: 'webp'})) }}"
                sizes="100vw"
                media="(max-width: 575.98px)"
                type="image/webp"
            >
            <source
                data-srcset="{{ img|manipulate(args_md|merge({format: 'webp'})) }}"
                sizes="100vw"
                media="(min-width: 576px)"
                type="image/webp"
            >
            {% endif %}
            <source
                {# srcset="{{ img|manipulate({
                    crop: {
                        width: 42,
                        height: 23
                    },
                    quality: 30,
                    blur: 4,
                    optimize: true,
                    datauri: true
                }) }}" #}
                data-srcset="{{ img|manipulate(args_xs) }}"
                sizes="100vw"
                media="(max-width: 575.98px)"
            >
            <source
                {# srcset="{{ img|manipulate({
                    crop: {
                        width: 160,
                        height: 50
                    },
                    quality: 30,
                    blur: 4,
                    optimize: true,
                    datauri: true
                }) }}" #}
                data-srcset="{{ img|manipulate(args_md) }}"
                sizes="100vw"
                media="(min-width: 576px)"
            >
            <img
                src="{{ img|manipulate({
                    crop: {
                        width: 160,
                        height: 50
                    },
                    blur: 4,
                    optimize: true,
                    datauri: true
                }) }}"
                class="cover__img img-fluid d-block w-100 lazyload object-cover"
            />
        </picture>
        {% else %}
        <img
            src="{{ img_placeholder(16, 5) }}"
            class="cover__img img-fluid d-block w-100 object-cover"
        />
        {% endif %}
    </figure>
    <h1 class="position-absolute inset-0 d-flex align-items-center justify-content-center text-white text-uppercase mb-0">{{ title }}</h1>

</header>

<div class="bg-light py-1 py-md-2 mb-3 mb-md-5">
    <div class="container-fluid">
        {{ include('components/breadcrumb.html.twig') }}
    </div>
</div>
