<style>
    .grid-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10000;
        pointer-events: none;
        counter-reset: container;
    }
    .grid-overlay .container-fluid {
        border-right: 1px dotted rgba(255, 0, 0, .5);
        border-left: 1px dotted rgba(255, 0, 0, .5);
    }
    .grid-overlay .col {
        counter-increment: container;
        background: rgba(0, 0, 0, .1);
    }
    .grid-overlay .col {
        border-right: 1px dotted rgba(0, 0, 0, .5);
    }
    .grid-overlay .col:first-of-type {
        border-left: 1px dotted rgba(0, 0, 0, .5);
    }
    .grid-overlay span {
        display: block;
        height: 100vh;
        background: rgba(255, 0, 0, .1);
    }
    .grid-overlay span::before,
    .grid-overlay span::after {
        content: counter(container);
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        text-align: center;
        color: #777;
    }
    .grid-overlay span::before {
        bottom: 1rem;
    }
    .grid-overlay span::after {
        top: 1rem;
    }

</style>
<div class="grid-overlay">
    <div class="container-fluid">
        <div class="row">
            {% for i in 1..12 %}
            <div class="col"><span></span></div>
            {% endfor %}
        </div>
    </div>
</div>
